/* Ensure table responsiveness */
.table-responsive {
    overflow-x: auto;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .btn {
      font-size: 12px;
      padding: 5px 10px;
    }
  
    .text-yellow-600 {
      font-size: 12px;
    }
  }
  